PUBLIC_GTM_ID=
PUBLIC_GA4_ID=
PUBLIC_CLARITY_ID=
PUBLIC_META_PIXEL_ID=
PUBLIC_TURNSTILE_SITE_KEY=
PUBLIC_GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d293.8362253079265!2d25.94614117480183!3d43.8481558541683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ae60c68f4d5141%3A0xb794cfa0dae52885!2zV2ViZXJlc3Qg0KPQtdCxINCU0LjQt9Cw0LnQvQ!5e0!3m2!1sbg!2sbg!4v1781698025754!5m2!1sbg!2sbg
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_FORM_ACTION_URL=/bg/scripts/contact-form.php
PUBLIC_FORM_API_URL=/bg/api/quote/
TURNSTILE_SECRET_KEY=
FORM_WEBHOOK_URL=
FORM_NOTIFY_EMAIL=info@weberest.com
FORM_PHP_URL=https://www.weberest.com/bg/scripts/contact-form.php
